@charset "utf-8";
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*{
  margin: 0;
	padding: 0;
  border: 0;	
  outline: 0;
	outline-offset: 0;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after { clear: both; }
.green{
  background-color:#6fb936;
}
.orange {
  background-color:#f38630;
}
.grey {
  background-color:#989898;
}
.pink {
  background-color: pink;
}
button {
  display:inline-block;
  outline: none;
  border: none;
  padding: 8px 14px;
  background: #414141;
  background-image: -webkit-linear-gradient(top, #575757, #414141);
  background-image: -moz-linear-gradient(top, #575757, #414141);
  background-image: -ms-linear-gradient(top, #575757, #414141);
  background-image: -o-linear-gradient(top, #575757, #414141);
  background-image: linear-gradient(to bottom, #575757, #414141);
  text-shadow: 0px 1px 0px #414141;
  -webkit-box-shadow: 0px 1px 0px 414141;
  -moz-box-shadow: 0px 1px 0px 414141;
  box-shadow: 0px 1px 0px 414141;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto 10px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  padding: 12px 25px;
  font-family: "Signika Negative", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
}
button:hover {
  background: #57a818;
  background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
  background-image: -moz-linear-gradient(top, #57a818, #4d9916);
  background-image: -ms-linear-gradient(top, #57a818, #4d9916);
  background-image: -o-linear-gradient(top, #57a818, #4d9916);
  background-image: linear-gradient(to bottom, #57a818, #4d9916);
  text-shadow: 0px 1px 0px #32610e;
  -webkit-box-shadow: 0px 1px 0px fefefe;
  -moz-box-shadow: 0px 1px 0px fefefe;
  box-shadow: 0px 1px 0px fefefe;
  color: #ffffff;
  text-decoration: none;
}

body {
  background-color:#1d1d1d;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
}
.container {
  width: 100vw;
  padding: 0 40px;
  position: relative;
}
.buttond {
  position: fixed;
  top:20px;
  right: 40px;
}
h1 {
  text-align: center;
  font-size: 42px;
  padding: 20px;
}
hr {
  border-top: 2px solid #fff;
  margin-bottom: 80px;
}

.pole {
  border: 1px solid #f38630;
  border-radius: 50%;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}
.fa-plane {
  color: #4d9916;
  font-size: 80px;
  /*transform:rotate(45deg);*/
  position: relative;
  left: 260px;
  top: -37px
}